{# Page: Public Data #}
{% set container = 'container-fluid' %}

<div id="page" class="layout-container">
    {# Header #}
    <headerGroup>
        {% if page.header %}
            {% block header %}
                <header id="headerTop" role="banner">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12" role="heading">
                                {{ page.header }}
                            </div>
                        </div>
                    </div>
                </header>
            {% endblock %}
        {% endif %}
        {# Navbar - Primary and Seconday#}
        {% if page.navigation or page.navigation_collapsible %}
            {% block navbar %}
                {%
                set navbar_classes = [
                'navbar',
                theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
                ]
                %}
                {#theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,#}
                {# templates/navigation/nav-header-top.html.twig #}
                <header{{ navbar_attributes.addClass(navbar_classes) }} id="topNavbar" role="navigation">
                    <div class="{{ container }}">
                        {% include directory ~ '/templates/navigation/nav--header-top.html.twig' %}
                    </div>
                </header>
                {# templates/navigation/nav-header-bottom.html.twig #}
                {#{% include directory ~ '/templates/navigation/nav--header-bottom.html.twig' %}#}
                {# templates/navigation/nav-header-bottom.html.twig #}
                <header id="breadcrumbBar" role="navigation">
                    <div class="container-fluid">
                        {% if page.breadcrumb %}
                            {% block breadcrumb %}
                                {{ page.breadcrumb }}
                            {% endblock %}
                        {% endif %}
                    </div>
                </header>

            {% endblock %}
        {% endif %}
    </headerGroup>

    <article>
        {% block main %}
            <main role="main" class="main-container container-fluid js-quickedit-main-content">
                <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
                <div class="content-wrapper">
                    {# Content #}
                    {%
                    set sidebar_left_classes = [
                    'content-left-sidebar',
                    page.sidebar_right is empty ? 'col-md-4',
                    page.sidebar_right ? 'col-md-3'
                    ]
                    %}
                    {%
                    set content_classes = [
                    'content-section',
                    (page.sidebar_left and page.sidebar_right is empty) or (page.sidebar_right and page.sidebar_left is empty ) ? 'col-md-8',
                    page.sidebar_left is empty and page.sidebar_right is empty ? 'col-md-12',
                    page.sidebar_left and page.sidebar_right ? 'col-md-6'
                    ]
                    %}
                    {%
                    set sidebar_right_classes = [
                    'content-right-sidebar',
                    page.sidebar_left is empty? 'col-md-4',
                    page.sidebar_left ? 'col-md-3'
                    ]
                    %}

                    {# Page Top #}
                    {# Highlighted #}
                    {% if page.highlighted %}
                        {% block highlighted %}
                            <div class="highlighted">{{ page.highlighted }}</div>
                        {% endblock %}
                    {% endif %}


                    <div ng-app="app" class="row main-content-section">
                        <div ng-controller="mainController" class="row main-content">
                            <section-filter></section-filter>

                            <section-result></section-result>
                        </div>
                        <loading></loading>

                    </div>
                </div>
            </main>
        {% endblock %}
    </article>

    {# Page Bottom #}
    {% if page.front_bottom %}
        {% block bottom %}
            <div class="page-bottom" role="contentinfo">
                {{ page.front_bottom }}
            </div>
        {% endblock %}
    {% endif %}

    {# Footer #}
    {% if page.footer %}
        {% block footer %}
            <footer id="mainFooter" class="footer" role="contentinfo">
                <div class="{{ container }}">
                    {{ page.footer }}
                </div>
            </footer>
        {% endblock %}
    {% endif %}

</div>
{# /.layout-container #}
