{%
set classes = [
'block',
'block-' ~ configuration.provider|clean_class,
'block-' ~ plugin_id|clean_class,
'clearfix',
]
%}
<section{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% if label %}
        <h3{{ title_attributes.addClass('block-title') }}>{{ label }}</h3>
    {% endif %}
    {{ title_suffix }}

    {% block content %}
        {{ content }}
    {% endblock %}
</section>